body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
#name{
    color:crimson;
}
section{
    display:flex;
    padding-left: 60px;
    margin-bottom: 100px;
}
.halfWidth{
    width: 50%;
    padding-left: 1%;
}
.halfWidth img{
    width: 80%;
}
.linkButton{
    text-decoration:black;
    background-color: coral;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, coral);
    padding: 10px 40px;
    border-radius: 5px;
}
#banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
#dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 200px;
}
#justify{
    text-align: left;
    margin-right: 20px;
    
}